 {
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb",
        "prettier",
        "plugin:react/recommended",
        "plugin:import/typescript",
        "prettier/react"
    ],
    "plugins": ["react", "@typescript-eslint", "react-hooks"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [],
    "rules": {}
}
